@font-face{
    font-family: 'Fira Sans Condensed';
    src: 
         url('../fonts/FiraSansCondensed-Regular.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family: 'Fira Sans Condensed';
    src: 
		url('../fonts/FiraSansCondensed-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight:bold;
    
}
@font-face{
    font-family: 'Fira Sans Condensed';
    src: 
		url('../fonts/FiraSansCondensed-Italic.ttf') format('truetype');
    font-style:italic;
	font-weight:normal;
}
@font-face{
    font-family: 'Fira Sans Condensed';
    src: 
		url('../fonts/FiraSansCondensed-SemiBold.ttf') format('truetype');
	font-style:normal;
	font-weight:bolder;
}

/*
------------------AGREGAR O NO DEPENDIENDO DEL USO-----------------------------
         ,
         url('../fonts/FiraSansCondensed-MediumItalic.ttf') format('truetype'),
		 ,
		 url('../fonts/FiraSansCondensed-SemiBoldItalic.ttf') format('truetype')
		 */
header{
	display: flex;
	flex-direction: row;
	font-size: 16px;
	background-color: #052035;
	justify-content: space-between;
	font-family: 'Fira Sans Condensed';
	font-weight: bold;
	font-style: normal; 
	height: 64px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	
	
}
div.logoNav{
	margin-left: 125px;
	display: flex;
	
	
}
div.logoNav img{
	width: 45px;
	height: 49px;
}
a{
	text-decoration: none;
	
	
	
}
nav{
	display: flex;
	height: 64px;
}
nav a{
	color: #BAD6DA;
	flex-direction: row;
	align-items: center;
	padding: 20px 50px;
	
	
}
a:hover{
	color: #052035;

	
}
nav a:hover{
	background-color: #BAD6DA;
}
div.log{
	margin-right: 125px;
	display: flex;
	flex-direction: row;

}

body{
	padding: 0px;
	margin: 0px auto;   
	background-color:rgba(108, 164, 196, 40%);
	
        /*padding-top: 70px;*/

	/*background: #6ca4c4; /* Old browsers */
	/*background: -moz-linear-gradient(top,  #6ca4c4 0%, #e5e5e5 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6ca4c4), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top,  #6ca4c4 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top,  #6ca4c4 0%,#e5e5e5 100%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top,  #6ca4c4 0%,#e5e5e5 100%); /* IE10+ */
	/*background: linear-gradient(to bottom,  #6ca4c4 0%,#e5e5e5 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	

}

div.main{
	font-family: 'Fira Sans Condensed';
	font-style: normal;
	
	margin-left: 100px;
	margin-right: 100px;
	

}
div.contacto{
	font-family: 'Fira Sans Condensed';
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 3px #027496;
	display: flex;
	letter-spacing: 3.25px;
	width: 100%;
	margin: 20px;
	
}
div.contacto h1{
	
	margin: 0 auto;
	padding: 130px 0px;
	font-size: 55px;
}
section.contacto-info{
	display: flex;
	background-color: rgb(23, 169, 103);
	height: 300px;	
}
section.contacto-info ul{
	list-style: none;
	
}

section.contacto-info li.form{/*
	background-color: rgb(128, 26, 26);*/
	
	
}
section.contacto-info div.asunto {
	position: relative;
  	display: inline-block;
	

}
section.contacto-info div.asunto-boton{
	background-color: #F6F9FB;
	color: #025377;
	padding: 32px;
	font-size: 32px;
	cursor: pointer;
}
section.contacto-info h2{
	font-size: 36px;
	font-weight:100;
	color: #025377;
}
  
section.contacto-info div.asunto-content {
	display: none;
	position: absolute;
	background-color: #F6F9FB;
	color: #025377;
	min-width: 160px;
	/*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
	z-index: 1;
	
}
  section.contacto-info div.asunto-content a{
	color: #027496;
  	padding: 12px 16px;
  	text-decoration: none;
  	display: block;
}
  section.contacto-info div.asunto-content a:hover{
	background-color: #f1f1f1
}

  div.asunto:hover .asunto-content {
	display: block;
}
  div.asunto:hover .asunto-boton{
	background-color: #025377;
}



