@font-face{
    font-family: "Fira Sans Condensed";
    src: url("../fonts/FiraSansCondensed-Italic.ttf") format("italic"),
         url("../fonts/FiraSansCondensed-Medium.ttf") format("medium"),
         url("../fonts/FiraSansCondensed-MediumItalic.ttf") format("mediumitalic"),
         url("../fonts/FiraSansCondensed-Regular.ttf") format("regural"),
         url("../fonts/FiraSansCondensed-SemiBold.ttf") format("semibold"),
         url("../fonts/FiraSansCondensed-SemiBoldItalic.ttf") format("semibolditalic");

    font-weight:normal;
    font-style:normal
}
header{
	display: flex;
	height: 64px;
	background-color: #052035;
}
.logoNav{
	display: flex;
	
}
.logoNav img{
	width: 45px;
	height: 49px;
}


body{
	padding: 0px;
	margin: 0px;
        /*padding-top: 70px;

	background: #6ca4c4; /* Old browsers */
	background: -moz-linear-gradient(top,  #6ca4c4 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6ca4c4), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6ca4c4 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6ca4c4 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6ca4c4 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #6ca4c4 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}
.logos_GnuLinux{
	display: block;
	margin: 0 auto;
}
footer{
	background-color: black;
}
