
@font-face{
    font-family: 'Fira Sans Condensed';
    src: 
         url('../fonts/FiraSansCondensed-Regular.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family: 'Fira Sans Condensed';
    src: 
		url('../fonts/FiraSansCondensed-Medium.ttf') format('truetype');
	font-style: bold;
	font-weight:bold;
    
}
@font-face{
    font-family: 'Fira Sans Condensed italic';
    src: 
		url('../fonts/FiraSansCondensed-Italic.ttf') format('truetype');
	
}
@font-face{
    font-family: 'Fira Sans Condensed semibol';
    src: 
		url('../fonts/FiraSansCondensed-SemiBold.ttf') format('truetype');
	font-style:bold;
	font-weight:bold;
}


/****************Propiedades Comúnes***************************/
body{

	padding: 0px;
	margin: 0px auto;   
	background-color:rgba(108, 164, 196, 40%);
}
/***************************Barra de Navegación*******************************/
header{
	margin: 0;
	padding: 0;
	display: flex;
	font-size: 16px;
	background-color: #052035;
	justify-content: space-between;
	font-family: 'Fira Sans Condensed';
	font-weight: bolder;
	height: 64px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	z-index: 1000px;
	
	
}
div.logoNav{
	margin-left: 125px;
	display: flex;
	
	
}
div.logoNav img{
	width: 45px;
	height: 49px;
}
a{
	text-decoration: none;	
}
nav ul.menu{
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	align-items: center;
	list-style: none;
	height: 64px;
}
nav a{
	color: #BAD6DA;
	height: 64px;
	padding: 22.45px 50px;
	
	
}
div.log a{
	text-decoration: none;
	color: #BAD6DA;
}
nav a:hover{
	color: #052035;
	background-color: #BAD6DA;
	
}
/**********************Submenu******************************/
ul.submenu{
	margin-top: 15px;;
    position: absolute;
    background: #333333;
    max-width:50%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
	list-style: none;
	padding: 0;
}

ul.submenu li a{
    display: block;
	width: 198px;
	height: 54px;
    padding: 7px 3px;
    color: #BAD6DA;
    font-weight: normal !important ;
	text-align: center;
}

ul.menu li:hover > ul.submenu{
    visibility: visible;
    opacity: 1;
}


div.log{
	margin-right: 125px;
	margin-top: 8px ;
	margin-bottom: 8px;
	padding: 13px 15px;
	background-color:rgba(2, 116, 150, 55%);
	color:#BAD6DA;
	border: 1px solid  rgba(186, 214, 218,45%);
}

div.log:hover{
	border: 1px solid#BAD6DA;
	color:#BAD6DA;
	background-color: #052035;
}

/********************Main*******************************/
main{
	font-family: 'Fira Sans Condensed';
	display: flex;
	flex-wrap: wrap;
	margin-left: 100px;
	margin-right: 100px;
		
}


/****************footer***********************************/
footer{
	background-color:#035378 ;
}
#pie {
	font-family: 'Fira Sans Condensed';
	height:150px;
	line-height:150px;
	background:black;
	color:white;
	text-align:center;
	bottom:0;
	left:0;
	width:100%;
  }


/****************************Página Index**********************************************/
/**Seción principal****/
div.main-container{
	width: 100%;
	max-width: 100%;
	margin: 5 auto;
	overflow: hidden;
	background-color:#052035
}
article {
	float: left;
	width: 65%;
	margin-left: 5%;
	background-color: #052035;
}
.contenedor{
	position: relative;
	display: inline-block;
	text-align: center;
}
.texto-debajo{
	position: absolute;
	top: 70%;
	left: 37%;
	transform: translate(-50%, -50%);
	
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 12pt;
	color: #F2DED0;
	font-style:oblique;
	opacity: .6;
	
}

p.Proximo{
	
	
	color: white;
	
	
}

aside{
	float: left;
	width: 30%;
	background-color: #052035;


}
h1.partido{
  
  color: red;
  font-family: "Fira sans Condensed";	
  
  }


.fcc-btn {
  background-color: #199319;
  color: white;
}

section.Principal{
	
	background-color: #052035;
  
	
	
}
div.noticia-t h2{
	font-size: 50px;
	text-align: center;
	-webkit-text-stroke: 2px #027496 !important;
}


/***************sección Noticias*********************/
section.noticias{
	width: 100%;	
}
div.noticia-t{
	font-family: 'Fira Sans Condensed';
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 3px #027496;
	flex: 100%;
	letter-spacing: 3.25px;
	width: 100%;
	height: 200px;
}
div.noticia-t h1{
	text-align: center;
	font-size: 65px;
}
div.contenedor-noticias{
	display: flex;
	width: 100%;
	height: 468;
	margin-left: 16px;
	background: transparent;
	gap: 8px;
}

div.contenedor-noticias h3{
	padding-left: 20px;
	font-style: bold;
	font-weight:bold;
	font-size: 20px;
	margin: 1%;
}
div.contenedor-noticias p{
	padding-left: 20px;
	font-style: normal;
	font-weight:normal;
	margin: 1%;
}
div.noti{
	
	position: relative;
	background-color: #027496;
	/* margin-left: 20px;	 */
	flex: 1;
	transition: .3s flex;
	color: #BAD6DA;
	width: 424px;
	height: 468px;
	
}

div.noti:hover{
	flex:2;
	background-color: #BAD6DA;
	color: #027496;
	width: 424px;
	height: 468px;
	

	
}
img.img-noti{
	object-fit: cover;
	object-position: center;
	height: 305px;
	opacity: 1;
}

div.noti:hover > img.img-noti{
	opacity: 0.4;
}
div.noti h3{
	max-width: 616px;
}

div.noti p.noti-p{
	max-width: 616px;
	visibility: hidden;
	opacity: 0;
	
}

div.noti:hover > p.noti-p{
	opacity: 1;
	visibility: visible;
	max-width: 616px;
}
div.vermas{

	position: absolute;
	background-color: #027496;
	border: 2px solid #BAD6DA;
	font-size: 16;
	width: 88px;
	height: 20px;
	padding: 7px 3px;
	left: 76%; 
	top: 90%;
	margin-right: 20%;
	
}
div.vermas:hover{
	background-color:#BAD6DA;
	border: 2px solid #027496;
	margin-right: 10%;
	color:#027496;
	
}
div.vermas a{
	margin: 0 15px ;
	color: #BAD6DA;
}
div.vermas a:hover{
	color:#027496;
}

/************************Página de Inicio de Sesión**********************************************************************/
section.cont-inisesion{
	width: 100%;
	display: flex;
	flex-direction: left;
	margin: 0;
	padding: 0;
	
}
div.img-sesion{
	display: flex;
	flex-direction: left;
	
	margin: 10px;
	width: 100%;
	
}
div.img-sesion img{
	display: flex;
	flex-direction: left;

	width: 100%;
	padding: 50px;
	
}
div.ses-intermedio{
	display: flex;
	flex-direction: left;
	
	width: 10%;
	margin: 20px;
	
}
div.cont-form{
	width: 100%;
	margin: 50px;
	/* width: 380px; */
	display: flex;
	flex-direction: left;
	align-items: center;
	text-align: center;
	/* background-color: #6ca4c4; */
}
/* p.sugerencia{
	align-items: center;
} */
div.cont-form form{
	width: 100%;
	flex-direction: column;
}
div.cont-form fieldset{
	border: 0px;
	margin: 20px;
	
}
div.cont-form legend{
	font-weight: bold;
    font-style: bold;
	font-size: 35px;
	padding: 20px;
}
div.fila-ses{
	width: 100%;
	text-align: left !important;

}
div.fila-ses label{
	width: 100%;
	margin: 0px;
	font-weight:normal;
    font-style:normal;
	font-size: 25px;
	padding: 0px;
}

div.fila-ses input{
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight:normal;
    font-style:normal;
	font-size: 20px;
	border:0;
	width:98%;
	height: 53px;
	background-color: #F6F9FB;
    opacity: 1;
    overflow: hidden;
	outline: 0;
	padding: 5px;
}
div.boton2{
	margin: 0;
	padding: 0;
}
div.cont-form button{
	width: 300px;
	height: 72px;
	background-color: #025377;
	border: 3px solid #F6F9FB ;
	padding: 12px;
	color: #F6F9FB;
	font-size: 20px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

div.cont-form button:hover{
	color:#BAD6DA;
	background-color: rgb(2, 85, 121);
	border: 0;
	
}

/*******************************Página de Contacto**********************************************************************/
div.contacto{
	font-family: 'Fira Sans Condensed';
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 3px #027496;
	flex: 100%;
	letter-spacing: 3.25px;
	width: 100%;
	height: 200px;
	
}

div.contacto h1{
	text-align: center;
	font-size: 65px;
}

section.contacto-info{
	flex: 100%;
	margin: 0 311px;
	padding: 0;
	width: 100%;
	background-color: transparent;
	align-items: center;
}


section.contacto-info h2{
	font-size: 36px;
	color: #025377;
	padding-left: 10px;
}
  
form.cont-form{
	display: block;
	margin: 0px;
	color: #027496;

}
input.control{
	font-family: 'Fira Sans Condensed';
	font-weight:normal;
    font-style:normal;
	font-size: 32px;
	border:0;
	width: 98.3%;
	height: 90px;
	background-color: #F6F9FB;
	margin-bottom: 16px;
    opacity: 1;
    overflow: hidden;
	outline: 0;
	padding-left: 20px;
	
}
 div.asunto{
	flex:auto;
	background: #F6F9FB;
	width: 250px;
	border: 4px solid #027496;
	height: 90px;
	margin: 0;
	padding: 0;
	
 }
select.asunt-cont{
	flex: content;
	font-family: 'Fira Sans Condensed';
	font-weight: bold;
	font-size: 32px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border:0 !important;
	background: #F6F9FB;
	opacity: 1;
	background-image: none;
	position: relative;
	display: flex;
	width: 250px;
	height: 90px;
	overflow: hidden;
	flex: 1;
	cursor: pointer;
	padding-left: 40px;
	background-image: url("../img/flecha_asunto.png");
	background-repeat: no-repeat ;
	background-position: 193px;
	color: #027496;

}
select.asunt-cont ::-ms-expand{
	display: none ;
}

div.asunto.select{
	font-family:'Fira Sans Condensed';
	display: flex;
	align-items: center;
	margin: 0;
	padding: 10px;
	background-color: #F6F9FB;
	border-radius: none;
	
	
}
div.comentario{
	display: flex;
	background-color: #F6F9FB;
	opacity: 1;
	width: 100%;
	height: 577px;
	margin-top: 16px;
	margin-bottom: 16px;
	padding: 0;
	
}
textarea.comentario-tex{
	font-family:'Fira Sans Condensed';
	font-size: 32px;
	display: flex;
	background-color: #F6F9FB;
	opacity: 1;
	width: 100%;
	height: 577px;
	margin-top: 16px;
	padding: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border:0 !important;
	background: #F6F9FB;
	opacity: 1;
	background-image: none;
	position: relative;
	padding-left: 20px;
	
	
}
div.boton{
	padding: 50px;
	margin: 0 35%;
	
}

form.cont-form button{
	width: 214px;
	height: 72px;
	background-color: #025377;
	border: 3px solid #F6F9FB ;
	padding: 12px;
	color: #F6F9FB;
	font-size: 34px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	
}
form.cont-form button:hover{
	color:#BAD6DA;
	background-color: rgb(2, 85, 121);
	border: 0;
	
}

/*****************Historia*********************/
div.hisroria{
	text-align: center;
	display: block;
	width: 100%;
	height:500px;
	align-items: center;
	flex-wrap: wrap;
}
div.historia h1 {
	
	font-family: 'Fira Sans Condensed';
	font-size: 30;
	text-align:center;
	color: #6ca4c4;
	letter-spacing: 4;
	text-shadow: -1px -1px 1px #043753 , 1px -1px 1px #043753, -1px 1px 1px #043753, 1px 1px 1px #043753;  
	}
	
div.historia p {
	font-family: 'Fira Sans Condensed';
	font-size: 20;
	color: black;
	text-align:justify;
	}
	
div.historia img {
	position: absolute;
	/*left: 400;*/
	/*top: 500;*/
	border: 5px solid #6ca4c4;
	}

	/*******Autoridades******/

div.autoridades{
	display: block;
	width: 100%;
	height:500px;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
}
div.autoridades h1 {
	font-family: 'Fira Sans Condensed';
	font-size: 30;
	text-align:center;
	color: #6ca4c4;
	letter-spacing: 4;
	text-shadow: -1px -1px 1px #043753 , 1px -1px 1px #043753, -1px 1px 1px #043753, 1px 1px 1px #043753;  
	}
	 
	div.autoridades dd{
	text-align:center;
	font-family: 'Fira Sans Condensed';
	font-size: 22;
	}
	
	div.autoridades Dt {
	font-family: 'Fira Sans Condensed';
	font-size: 25;
	color: #04547c;
	text-align:center;
	}

/***************** Página de Convocatorias***********************************/
section.cont-convocatorias{
	display: flex;
	flex-flow: column;
	justify-content: center;
	width: 100%;
}
div.convo-t{
	display: flex;
	justify-content: center;
	flex-direction: row;
	font-family: 'Fira Sans Condensed';
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 3px #027496;
	flex: 100%;
	letter-spacing: 3.25px;
	width: 100%;
	height: 200px;
	padding: 30px;
	margin: 0px;
	
	
}
div.convo-t h1{
	flex-wrap: wrap;
	display: block;
	text-align: center;
	font-size: 65px !important;
}
div.nav-convocatoria{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 10px;

}
div.item{
	border: solid black;
	background-color: #025377;
	margin: 20px;
	width: 205PX;
	height: 171px;
	text-align:unset;
}


